*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
 


}
body{
    
   background-color:  bisque;
 
}

header{
    font-size: 20px;
    display: flex;
    padding: 0px 15px;
    margin-left: 0;
    margin-right: 0;
    background-color:rgb(238 238 238);
    justify-content: left;
    border-left: 4px solid rgb(11, 169, 90);
    border-bottom: 2px solid rgb(11, 169, 90);
    color: black;
 

}
header .menu{
display: flex;
list-style: none;
}
header ul.menu>li{
    padding: 10px 15px;
}
header ul.menu-mini{
    list-style: none;
    position: absolute;
    margin-top:10px ;
    background-color: rgb(238 238 238);
    border-top:2px solid  rgb(11, 169, 90);
  

}
header ul.menu ul.menu-mini li.lib {
    font-size: 17px;
    padding-top: 10px; 
    border-bottom: 2px solid gray ;
    height: 40px;
    width: 160px;
    text-align: center left;
    padding-left: 10px;


    

 
   
   
    
}
header ul.menu ul.menu-mini{
 display: none;
}
header ul.menu li.lia:hover ul.menu-mini {
display: block;
background-color: rgb(238 238 238);
}
header ul.menu li:hover{
    background-color:rgb(11, 169, 90);
    color: white;
}
header a:hover{
    width: auto;
    height: auto;
    background-color:rgb(11, 169, 90);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.size_img{
    width: 1000px; /* Đặt chiều rộng mong muốn */
    height: 500px; /* Duy trì tỷ lệ khung hình */
}
.bt_manager{
    padding-top: 2%;
    width: 100%;
    height: 100px;

}
.a_download{
    width: 100px;
    height: 40px;
}
.link_figma{

    width: 100px;
    height: 40px;
    padding-left: 20px;
}
.bt_download{
    width: 100px;
    height: 40px;
}
.bt_figma{
    width: 100px;
    height: 40px;
}
/*about*/
.img-fluid{
    height: 300px;
    width: 300px;
}
/*home*/
body .produce,.about_me{
    padding-top: 10%;
    margin-left: 600px;
    margin-right: 600px;
 
}
.produce{

}
.about_me{
 margin-top: -5%;

}
.about_me button{
 padding-top: -10%;
 height: 40px;
 width: 100px;
 border-radius: 2px solid black;

}
.about:hover{
 background-color: green;
}